@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputDiv {
  display: flex;
  width: 25vw;
  justify-content: space-around;
}
.submitDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 10px;
  width: 8vw;
}
select {
  font-family: "Montserrat", sans-serif;
}
input {
  font-family: "Montserrat", sans-serif;
}
.tableDiv {
  font-family: "Montserrat", sans-serif;
}
th {
  padding-left: 20px;
}
tr {
  padding-left: 20px;
}
td {
  padding-left: 20px;
}
